@charset "utf-8";
/* CSS Document */

		#messageDiv{
			margin-bottom:1em;
			font-size:1.4em;
		}
		
		.alertBox{
			border:none;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
			padding:1em 0px 1em 0px;
		}
		
		.messageBox{
			/*max-width:400px;*/
			margin-left:auto;
			margin-right:auto;
			padding:0.3em 1em 1em 1em;
		}
		
		.formH3{
			font-size:2.4em;
			margin 0px 0px 0px 0px;
			margin-top:0.5em !important;
		}

/* ::::::::::: [ IE8 CSS FIX START ] ::::::::::: */
/* ::::::::::: [ IE8 CSS FIX START ] ::::::::::: */

		#messageIE8{
			margin-left: auto;
			margin-right: auto;
			color:#666666;
			background-color: #FFFFFF;
			width:45%;
			max-width: 480px;
			min-width: 320px;
			font-size: 14px;
			border-radius: 8px;
			border:1px solid #666666;
			padding:0px 1em 1em 1em;
		}

		#messageIE8 .btnDiv{
			text-align: center;
		}

		#imageIE8{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

/* ::::::::::: [ IE8 CSS FIX END ] ::::::::::: */
/* ::::::::::: [ IE8 CSS FIX END ] ::::::::::: */

/* ::::::::::: [ LANDSCAPE START ] ::::::::::: */

	@media all and (orientation:landscape) and (max-width: 768px){
		
		.logo{
			max-width:385px;
		}
		
	}

/* ::::::::::: [ LANDSCAPE END ] ::::::::::: */

